@charset "utf-8";

/* 11/11/2025 - Olga Marinho :) */


/* ===== VARIABLES AND FONTS ===== */
:root {
    /* colours */
    --black: #000000;
    --grey: #eeeeee;
    --green: #6CBD85;
    --light_green: #97F4B1;
    --pink: #F475FF;
    --red: #FF7875;
    --orange: #FFA673;
}

@font-face {
    font-family: "helvetica neue heavy";
    src: url("../fonts/HelveticaNeueLTStd-Hv.otf") format("truetype");
}

@font-face {
    font-family: "helvetica neue roman";
    src: url("../fonts/HelveticaNeueLTStd-Roman.otf") format("truetype");
}


/* ===== GENERAL STYLES ===== */
html, body {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--grey);
    margin: 0;
}


/* ===== HEADER AND NAVIGATION ===== */
header {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--grey);
    padding: 2% 2% 0 2%;
    width: 96%;
    z-index: 20;
    min-height: 10.5vh;
}

header > section:first-of-type {
    border-bottom: 2px solid var(--black); 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
}

ul, header section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    gap: 10px;
}

li {
    background-color: var(--grey);
    color: var(--black);
    border: 2px solid var(--black);
    font-family: "helvetica neue roman";
    font-size: 1.2vw;
    cursor: pointer;
    list-style: none;
}

li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 7px 7px 2px 7px; 
}

.about_desktop {
    border-radius: 50%; 
    min-width: fit-content;
}


.about_desktop a {
    padding: 0.5vw 1vw 0.2vw 1vw;
}

.about_mobile {
  display: none;
} 

li:hover, #year_marked {
    background-color: var(--black);
    color: var(--grey);
}


/* ===== MAIN CONTENT AND FOOTER ===== */
main, footer {
    display: block;
    padding: 0 2%;
    width: 96%;
}

main {
    min-height: 75vh;
}

footer > .grid {
    padding-top: 5vh;
    padding-bottom: 2vh;
}


/* ===== GRID SYSTEM ===== */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2% 0;
    width: 100%;
}

.month {
    grid-column: 1/2;
}

.category {
    grid-column: 2/3;
}

.description {
    grid-column: 3/7;
}

.division1_1 {
    grid-column: 1/7;
     width: 98%;
    padding: 0 1% 5.5vh 1%;
}

.division2_1 {
   width: 96%;
    grid-column: 1/4;
    padding: 0 2%;
}

.division2_2 {
    grid-column: 4/7;
     width: 96%;
    padding: 0 2% 5.5vh 2%;
}

.division3_1 {
    grid-column: 1/3;
     width: 94%;
    padding: 0 3% 5.5vh 3%;
}

.division3_2 {
    grid-column: 3/5;
     width: 94%;
    padding: 0 3% 5.5vh 3%;
}

.division3_3 {
    grid-column: 5/7;
     width: 94%;
    padding: 0 3% 5.5vh 3%;
}


/* ===== TYPOGRAPHY ===== */
h1 {
    display: block;
    font-family: "helvetica neue heavy";
    font-size: 1.6vw;
    color: var(--black);
    text-transform: uppercase;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.1vw;
    font-family: "helvetica neue roman";
    color: var(--black);
    margin: 0;
    padding-left: 5px;
}

h3 {
    color: var(--black);
    text-transform: lowercase;
    font-family: "helvetica neue roman";
    font-size: 0.9vw;
    margin: 0;
    padding-bottom: 1%;
    padding-left: 5px;
}

p {
    display: block;
    font-size: 1.1vw;
    font-family: "helvetica neue roman";
    color: var(--black);
    margin: 0;
    width: 50%;
    padding-bottom: 2%;
}

#txt_about {
    padding-top: 2%;
}


/* ===== IMAGES ===== */
img {
    position: relative;
}


/* ===== LINKS AND INTERACTIVE ELEMENTS ===== */
a {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
    width: auto;
}

main > a > section {
    display: block;
    position: relative;
    z-index: 1; 
    border-bottom: 2px solid var(--black); 
    padding-top: 1%;
    padding-bottom: 0.8%;
    cursor: pointer;
}

main a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 0;
    z-index: 0; 
}

main a:not(.open):hover::before {
    height: 100%;
}


/* ===== DROPDOWN COMPONENTS ===== */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown.open {
    width: 100%;
    min-height: fit-content;
    height: auto;
    overflow: visible; 
}

.dropdown.citação::before,
.dropdown.citação.open {
    background: linear-gradient(
        to bottom,
        var(--green) 0,
        var(--green) 5vh,
        var(--grey) 10vh,
        var(--grey) calc(100% - 10vh),
        var(--green) calc(100% - 5vh),
        var(--green) 100%
    );
}

.dropdown.reflexão::before,
.dropdown.reflexão.open {
    background: linear-gradient(
        to bottom,
        var(--light_green) 0,
        var(--light_green) 5vh,
        var(--grey) 10vh,
        var(--grey) calc(100% - 10vh),
        var(--light_green) calc(100% - 5vh),
        var(--light_green) 100%
    );
}

.dropdown.formação::before,
.dropdown.formação.open {
    background: linear-gradient(
        to bottom,
        var(--orange) 0,
        var(--orange) 5vh,
        var(--grey) 10vh,
        var(--grey) calc(100% - 10vh),
        var(--orange) calc(100% - 5vh),
        var(--orange) 100%
    );
}

.dropdown.projeto::before,
.dropdown.projeto.open {
    background: linear-gradient(
        to bottom,
        var(--pink) 0,
        var(--pink) 5vh,
        var(--grey) 10vh,
        var(--grey) calc(100% - 10vh),
        var(--pink) calc(100% - 5vh),
        var(--pink) 100%
    );
}

.dropdown.experiência::before,
.dropdown.experiência.open {
    background: linear-gradient(
        to bottom,
        var(--red) 0,
        var(--red) 5vh,
        var(--grey) 10vh,
        var(--grey) calc(100% - 10vh),
        var(--red) calc(100% - 5vh),
        var(--red) 100%
    );
}


/* ===== ANIMATIONS AND EFFECTS ===== */
.slider {
    position: absolute;
    animation: slide-cycle 10s ease-in-out infinite;
    bottom: 8%;
    display: flex;
    gap: 20px;
}

.slider > div {
    width: 30px;
    height: 30px; 
}

.slider > div:nth-child(even) {
    animation: rotate 4s linear infinite;
}

.slider > div:nth-child(odd) {
    animation: rotate 3s linear infinite;
}

.piece_1 {
    background-color: var(--orange);  
}

.piece_2 {
    background-color: var(--green);
}

.piece_3 {
    background-color: var(--pink);
}

.piece_4 {
    background-color: var(--light_green);
}

.piece_5 {
    background-color: var(--red);
}

@keyframes slide-cycle {
    0% { left: 2%; }
    50% { left: 80vw; }
    100% { left: 2%; }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ===== FOOTER SPECIFIC STYLES ===== */
footer > section > .description {
    text-align: right;
}




/* ===== RESPONSIVE DESIGN ===== */
@media screen and (max-width: 1025px){ 

  /* ===== GENERAL STYLES ===== */
  main, footer {
      display: block;
      padding: 0 4%;
      width: 92%;
  }

  main {
      min-height: 55vh;
  }


  /* ===== HEADER AND NAVIGATION ===== */
  header {
      width: 92%;
      position: relative;
      padding: 4% 4% 0 4%;
  }

  header section {
      padding-top: 6vh;
  }

  .about_desktop {
      display: none;
  }

  .about_mobile {
      display: flex;
      top: 0;
      left: 0;
      padding: 4%;
      position: fixed;
      justify-content: space-between;
      width: 92%;
      background-color: var(--grey);
      z-index: 1000;
  } 

  nav > a > h1 {
      display: none;
  }

  nav {
      display: block;
  }

  button {
      background-color: var(--grey);
      color: var(--black);
      border: 2px solid var(--black);
      font-family: "helvetica neue roman";
      font-size: 3.5vw;
      list-style: none;
      min-width: fit-content;
      border-radius: 50%; 
      padding: 1vw 2.5vw 0.2vw 2.5vw; 
  }

  nav > div > a {
      text-align: center;
      align-items: center;
  }

  ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      padding-top: 8vh;
      gap: 10px 10px; 
  }

  li {
      width: 98%;
      font-size: 3.5vw;
      margin-bottom: 2%;
  }

  li > a {
      width: auto;
      height: auto;
      padding: 10px 10px 5px 10px; 
  }


  /* ===== TYPOGRAPHY ===== */
  h1 {
      font-size: 5vw;
  }

  h2 {
      font-size: 2.9vw;
      line-height: 3.7vw;
      padding-left: 0;
  }

  h3 {
      font-size: 2.9vw;
      padding-left: 0;
  }

  p {
      font-size: 2.9vw;
      width: 100%;
      line-height: 3.7vw;
  }


  /* ===== GRID SYSTEM ===== */
  .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .month {
      grid-column: 1/2;
  }

  .category {
      grid-column: 2/3;
  }

  .description {
      grid-column: 3/6;
  }

  .division1_1, .division2_1, .division2_2, 
  .division3_1, .division3_2, .division3_3 {
      grid-column: 1/7;
      width: 92%;
      padding: 0 4%;
  }


  /* ===== IMAGES ===== */
  img {
      height: auto;
  }

  .division1_1 { padding-bottom: 5vh; }
  .division2_2 { padding-bottom: 10vh; }
  .division3_3 { padding-bottom: 15vh; }


  /* ===== DROPDOWN COMPONENTS ===== */
  main > a > section {
      padding-top: 4%;
      padding-bottom: 3.8%;
      min-height: fit-content;
      height: auto;
  }

  .dropdown.open {
      display: block;
      position: relative;
  }

  .dropdown-content {
      position: relative;
  }

  .dropdown.open::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
  }

  .dropdown.citação::before,
.dropdown.citação.open {
    background: linear-gradient(
        to bottom,
        var(--green) 0,
        var(--green) 7vh,
        var(--grey) 12vh,
        var(--grey) calc(100% - 12vh),
        var(--green) calc(100% - 7vh),
        var(--green) 100%
    );
}

.dropdown.reflexão::before,
.dropdown.reflexão.open {
    background: linear-gradient(
        to bottom,
        var(--light_green) 0,
        var(--light_green) 7vh,
        var(--grey) 12vh,
        var(--grey) calc(100% - 12vh),
        var(--light_green) calc(100% - 7vh),
        var(--light_green) 100%
    );
}

.dropdown.formação::before,
.dropdown.formação.open {
    background: linear-gradient(
        to bottom,
        var(--orange) 0,
        var(--orange) 7vh,
        var(--grey) 12vh,
        var(--grey) calc(100% - 12vh),
        var(--orange) calc(100% - 7vh),
        var(--orange) 100%
    );
}

.dropdown.projeto::before,
.dropdown.projeto.open {
    background: linear-gradient(
        to bottom,
        var(--pink) 0,
        var(--pink) 7vh,
        var(--grey) 12vh,
        var(--grey) calc(100% - 12vh),
        var(--pink) calc(100% - 7vh),
        var(--pink) 100%
    );
}

.dropdown.experiência::before,
.dropdown.experiência.open {
    background: linear-gradient(
        to bottom,
        var(--red) 0,
        var(--red) 7vh,
        var(--grey) 12vh,
        var(--grey) calc(100% - 12vh),
        var(--red) calc(100% - 7vh),
        var(--red) 100%
    );
}


  /* ===== ANIMATIONS AND EFFECTS ===== */
  .slider {
    bottom: 12%;
      animation: slide-cycle 5s ease-in-out infinite;
  }

  @keyframes slide-cycle {
      0% { left: 4%; }
      50% { left: 35vw; }
      100% { left: 4%; }
  }

  
  /* ===== SPECIFIC STYLES ===== */
  #txt_about {
      padding-top: 6vh;
  }

}